

body{
    
    background:rgb(223, 217, 217);
    

}
header{
   
    height: 125px;

}


nav.navbar{
    height: 96px;
    text-align: center;
    background: #ea89a7;
}



#logo{
    opacity: .9;
    width: 95%;
    border-radius: 5px;
    border: 14px double #f8dee7;
}

.svg{
    position: relative;
    right: -84%;
}



#nameLogo{
    height: 35px;
    margin-top: -14%;
    margin-left: 37%;
}


div.container{
   
    text-align: center;

 
}

div.welcome{
    background: url(images/bg\ \(9\).jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 100%;
    margin-top: -4.5%;
    height: 500px;
  
    
}

.welcomeInner{ 
    background: url(images/topbg.png);
    
    background-size:950px ;
    background-position: 60% 55%;
    color: rgb(8, 8, 8);
    background-repeat: no-repeat;
    height: 500px;
    
   
}









div.top{ 
    background: url(images/pinkBrush2.jpg);
    background-size: cover;
    background-attachment: fixed;
    

    
}


.topInner{
  height: 93.5%;
}
.vidContainer{
  width: 100%;
}

#heroVid{
  width: 100%;
  border: 4px double #ea89a7;
  border-radius: 34px;
}

#bookImg{
  width: 50%;
}
.btn{
  background: black;
  color: #e67f9b;
  border-color: #d66b8a;
}

.btn-danger:hover {
  color: #fcf5f5;
  background-color: #181314;
  border-color: #f8f4f5;
}

h1{
  font-family: 'Codystar', cursive;
  font-size:3em;
  -webkit-text-fill-color: #ec7090;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
h2{
  font-family: "Sofia", sans-serif;
  -webkit-text-fill-color: white; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;

}
h3{
  font-family: "Sofia", sans-serif;
  font-size: 23px;
  color: #ea89a7;
  background: #000000bf;;
   
}
hr {
  margin: 1rem 0;
  color: #ecdcdf;
  background-color: currentColor;
      /* margin: 1rem 0; */
    
      /* background-color: currentColor; */
      /* border: 0; */
      opacity: 1;
      padding: 1px;
}

.text1 {
  background: url(images/bg\ \(1\).png);
  background-size: 37%;
  background-position: bottom;
  background-repeat: no-repeat;
  position: relative;
  background-color: #ea89a7;
 
  
  top: 26%;
  text-align: center;
  border-radius: 10px;
}

.text2{
  color: #ffffffc4;
  position: relative;
  top: 17%;
}
.instagram{
  font-size: 15px;
}

div.main{
    background:url(images/pinkBg.jpg);
    background-attachment: fixed;
    background-size: cover;
   /* margin-top: -5%; */
    height: 600px;
}

.mainInner{
    height: 500px;
    
    background: rgb(0 0 0 / 25%);
   
}



.slideshow-container {
    background: transparent;
    text-align: center;
    overflow: hidden;
    max-width: 1000px;
    max-height: 600px;
    position: relative;
    margin: auto;
  }
  img {
      vertical-align: middle;
      width: 80%;
     
    }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: rgb(8, 0, 0);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    
    border-radius: 3px 0 0 3px;
  }
  .prev{
      left: 1px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #030202;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #0c0a0a;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 50.5s;
    animation-name: fade;
    animation-duration: 50.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .9}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .9}
    to {opacity: 1}
  }

footer{
    background:gray;
    color:rgb(7, 6, 6);
}
  










    