

*{ 
    
    
    

}

hr{
    color: white;
}
html{
    position: relative;
    background-image: url(images/flowers.jpeg);
    background-color: black;
    background-position:center;
    background-attachment: fixed; 
    background-repeat: no-repeat;  
    
   

}
.nav{
    height: 10px;
    opacity: .8;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(2, 2, 2);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    font-variant: small-caps;

  }
  

  li {
    float: left;
    border-right: 1px solid #bbb;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 30px 40px;
    text-decoration: none;
  }
  li img{
    display: block;
    top: 0;
    left: 90%;
    position: absolute;
  }
  
  
  li a:hover {
    background-color: rgb(77, 71, 71);
  }


.top{
    background-size: 500px, 500px, auto;
    border: black;
    height: 200px;
    text-align: center;
    background-color: rgb(255, 249, 249);
    background: transparent;
}

div.top h1{
    color: rgb(245, 236, 236);
    outline: black;
    font-size: 100px;
    font-family: 'Pinyon Script', cursive;
    animation-name: anime1;
    animation-duration: 1.5s;


}

.btn{
    border-radius: 5px;
    margin-left: 42%;
    background-color: rgb(5, 3, 3);
    color:white;
    font-size: 20px;
    cursor: pointer;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-variant: small-caps;
    text-align: center;
    padding: 20px 40px;
    animation-name: anime1;
    animation-duration: 15s;
    animation-delay: 0s;


}
.btn:hover{
    opacity: 1; 
}
.btn a:visited{
    color:rgb(243, 243, 243);
}

.btn a{
    display: block;
    color: white;
    text-decoration: none;
    padding: 15px 30px;
}



.middle{
    background: url(images/blue\ lip.jpeg) left no-repeat, url(images/orange\ lip.jpg) right no-repeat;
    background-size: 400px, 400px, 50%;
    background-color: rgb(255, 249, 249);
    border: black;
    height: 300px;
    width: auto;
    font-size: 25px;
    opacity: 1;
    text-align: center;
    
}
.herotext{
    text-align: center;
    position: relative;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(19, 17, 17);
}

.middle:hover{
   opacity: .9;
}



div.container{
    height: 400px;
    border-radius: 15px;
    width: 99%;
    margin: auto;
 
}

div.box{
    height: auto;
    width: 20%;
    float: left;
    text-align: center;
}
.b0{
    animation-name: anime1;
    animation-duration: 10s;
    animation-delay: 0s;
}

.b1{
    animation-name: anime1;
    animation-duration: 12s;
    animation-delay: 0s;
  
}
.b2{
    animation-name: anime1;
    animation-duration: 14s;
    animation-delay: 0s;
}
.b3{
    animation-name: anime1;
    animation-duration: 16s;
    animation-delay: 0s;
}
.b4{
    animation-name: anime1;
    animation-duration: 18s;
    animation-delay: 0s;
}
div.container img{
    border-radius: 10px;
    width: 50%;
    height: auto;
    transition: width .5s, height 1s;
    overflow: hidden;
    

  
  
   
}  

@keyframes anime1 {
    from{opacity:0;}
    to{opacity: 1}
    
}

div.container img:hover{
   width: 100%;
   height: auto;
   opacity: 1;
   position: static;
   margin-left: 0%;
   

   
}






.bnav{
    border: thin;
    background-color: rgb(0, 0, 0);
    height: 25px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    
}




